/*Estilos gerais*/
@import url(./global/global.css);
/*Fontes/ componentes*/
@import url(./utilidades/fontes.css);
@import url(./utilidades/componentes.css);
/*Header*/
@import url(./global/header.css);
/*Introdução do site*/
@import url(./home/intro.css);
