/*Estilos gerais*/
@import url(./global/global.css);
/*Fontes/ componentes*/
@import url(./utilidades/fontes.css);
@import url(./utilidades/componentes.css);
@import url(./utilidades/cores_preto-branco.css);
@import url(./utilidades/cores_amarelo.css);
/*Header*/
@import url(./global/header.css);

/*Introdução do site*/
@import url(./home/intro.css);

/*Bicicletas*/
@import url(./bicicletas/bicicletas_lista.css);