.btn{
  background: linear-gradient(#FFBF00, #F2A50C);
 box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
 border-radius: 5px;
 padding: 16px 32px;
 color: black;
 display: block;
 width: fit-content;
 font-size: 18px;
 line-height: 24px;
 font-family: 'poppins';
 font-weight: 600;
}

@media (max-width: 600px){
  .btn{
    padding: 12px 16px;
    font-size: 16px;
  }
}