.btn{
  background: linear-gradient(#FFBF00, #F2A50C);
 box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
 border-radius: 5px;
 padding: 16px 32px;
 color: black;
 display: block;
 width: fit-content;
 font-size: 18px;
 line-height: 24px;
 font-family: 'poppins';
 font-weight: 600;
}

.container{
  max-width: 1200px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 600px){
  .btn{
    padding: 12px 16px;
    font-size: 16px;
  }


  p{
    background-color: red;
    font-size: 16px;
  }
}