/*Classes utilitarias com as cores*/
.c12{
  color: #000;
}

.c11{
  color: #111;
}

.c10{
  color: #2e2e2e;
}

.c9{
  color: #404040;
}

.c8{
  color: #595959;
}

.c7{
  color: #717171;
}

.c6{
  color: #9c9c9c;
}

.c5{
  color: #b2b2b2;
}

.c4{
  color: #cccccc;
}

.c3{
  color: #dedede;
}

.c2{
  color: #ededed;
}

.c1{
  color: #f7f7f7;
}

.w{
  color: #ffffff;
}

/*Variaveis*/
:root{
  --c12: #000;
  --c11: #111;
  --c10:#2e2e2e;
  --c9:#404040;
  --c8:#595959;
  --c7:#717171;
  --c6:#9c9c9c;
  --c5:#b2b2b2;
  --c4:#cccccc;
  --c3:#dedede;
  --c2:#ededed;
  --c1:#f7f7f7;
  --w:#ffffff;
}