.header-bg{
  background-color: var(--c12);

}
.header{display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
  padding: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header-menu{
  margin: 0px;
  padding: 0px;
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  gap: 40px;
}

.header-menu a{
  display: inline-block;
  padding: 16px 0px;
  position: relative;
}

/*Linha do menu na versão de computador*/
.header-menu a:after{
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: var(--w);
  /*animação da Linha do menu*/
  transition: 0.3s;
  position: absolute;
}
/*animação da Linha do menu*/
.header-menu a:hover:after{
  width: 100%;
}

.header-menu a{
  text-decoration: none;
  color: var(--w);
}

@media (max-width: 800px){

  .header-menu{
    gap: 20px;
  }
  .header-menu a{
    background-color: var(--c11);
    padding: 12px 16px;
    border-radius: 5px;
  }

  .header-menu a:hover{
    background-color: var(--c10);
  }
  /*Tirar a linha do menu*/
  .header-menu a:after{
    display: none;
  }

}

@media (max-width: 600px){

  .header-menu{
    gap: 12px;
  }
  .header-menu a{
    padding: 8px 12px;
    font-size: 14px;
  }


}